<nav class="navbar" role="navigation">
  <div class="container">
      <ul>
        <li>
          <a ui-sref="app">
            Tarifs</a>
        </li>
        <li>
          <a ui-sref="app.request">
            Requests</a>
        </li>
      </ul>
  </div>
</nav>
