<div class="request" data-ng-controller="RequestController">
  <div class="container">

<!--
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
              REQUEST FORM
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
 -->

    <section class="request-form">
      <h2>Request Form</h2>
      <hr>

      <form role="form" name="requestForm" data-ng-submit="sendRequest()" novalidate>

        <!-- subject input -->
        <div class="request-form-group" data-ng-class="{ 'has-error' : requestForm.request_subject.$error.required && !requestForm.request_subject.$pristine }">
          <label for="request_subject" class="request-form-label">
            Subject</label>
          <input id="request_subject" name="request_subject" type="text" placeholder="Enter your subject here" data-ng-model="request.subject" required>
          <span data-ng-show="requestForm.request_subject.$error.required && !requestForm.request_subject.$pristine" class="help-block">
            This field is required.
          </span>
        </div>

        <!-- textarea -->
        <div class="request-form-group" data-ng-class="{ 'has-error' : requestForm.request_text.$error.required && !requestForm.request_text.$pristine }">
          <label for="request_text" class="request-form-label">
            Your text here</label>
          <textarea id="request_text" name="request_text" rows="12" placeholder="Enter your text here" data-ng-model="request.text" required></textarea>
          <span data-ng-show="requestForm.request_text.$error.required && !requestForm.request_text.$pristine" class="help-block">
            This field is required.
          </span>
        </div>

        <!-- drop-down list of projects -->
        <div class="request-form-group">
          <label class="request-form-label">
            Project</label>
          <select data-ng-model="request.project" data-ng-options="project.value as project.label for project in projects">
            <option value="">Projects...</option>
          </select>
        </div>

        <!-- urgency radio buttons -->
        <div class="request-form-group">
          <label class="request-form-label">
            Urgency</label>
          <label class="radio-label" for="{{urg}}" data-ng-repeat="urg in instancy">
            <input type="radio" id="{{urg}}" name="urg" data-ng-model="request.urgency" data-ng-value="urg" data-ng-init="$index===1">
            {{urg}}
          </label>
        </div>

        <hr>

        <!-- submit button -->
        <div class="request-form-group">
          <button type="submit" name="button" data-ng-disabled="requestForm.$invalid">
            Submit Form
          </button>
        </div>

      </form>
    </section>
  </div>

<!--
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
              REQUEST OUTPUT
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
 -->

  <section class="request-output">
    <div class="container">
      <!-- DEBUG INFO BLOCK -->
      <div class="debug-info">
        <p>Sort Type:
          <span>&nbsp; {{ sortType }}</span>
        </p>
        <p>Sort Reverse:
          <span>&nbsp; {{ sortReverse }}</span>
        </p>
        <p>Search Query:
          <span>&nbsp; {{ searchIn }}</span>
        </p>
      </div>

      <!-- SEARCH BAR -->
      <form class="request-search">
        <input type="text" placeholder="Search..." data-ng-model="searchIn">
      </form>

      <!-- FIELD FOR THE STATUS OR ERROR MESSAGE -->
      <div data-ng-if="!showTable">
        <h3>{{message}}</h3>
      </div>

      <!-- REQUEST OUTPUT TABLE -->
      <table class="request-table" data-ng-if="showTable">
        <!-- heading with Angular sorting -->
        <thead>
          <tr>
            <th class="request-table-hcell">
              <a href="" data-ng-click="sortType = 'id'; sortReverse = !sortReverse">
                ID
                <i data-ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></i>
                <i data-ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></i>
              </a>
            </th>
            <th class="request-table-hcell">
              <a href="" data-ng-click="sortType = 'subject'; sortReverse = !sortReverse">
                Subject
                <i data-ng-show="sortType == 'subject' && !sortReverse" class="fa fa-caret-down"></i>
                <i data-ng-show="sortType == 'subject' && sortReverse" class="fa fa-caret-up"></i>
              </a>
            </th>
            <th class="request-table-hcell">
              <a href="" data-ng-click="sortType = 'text'; sortReverse = !sortReverse">
                Text
                <i data-ng-show="sortType == 'text' && !sortReverse" class="fa fa-caret-down"></i>
                <i data-ng-show="sortType == 'text' && sortReverse" class="fa fa-caret-up"></i>
              </a>
            </th>
            <th class="request-table-hcell">
              <a href="" data-ng-click="sortType = 'project'; sortReverse = !sortReverse">
                Project
                <i data-ng-show="sortType == 'project' && !sortReverse" class="fa fa-caret-down"></i>
                <i data-ng-show="sortType == 'project' && sortReverse" class="fa fa-caret-up"></i>
              </a>
            </th>
            <th class="request-table-hcell">
              <a href="" data-ng-click="sortType = 'urgency'; sortReverse = !sortReverse">
                Urgency
                <i data-ng-show="sortType == 'urgency' && !sortReverse" class="fa fa-caret-down"></i>
                <i data-ng-show="sortType == 'urgency' && sortReverse" class="fa fa-caret-up"></i>
              </a>
            </th>
            <th class="request-table-hcell">
              <a href="" data-ng-click="sortType = 'date'; sortReverse = !sortReverse">
                Date
                <i data-ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></i>
                <i data-ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></i>
              </a>
            </th>
          </tr>
        </thead>

        <!-- body with output from BD -->
        <tbody>
          <tr data-ng-repeat="r in requests | orderBy:sortType:sortReverse | filter:searchIn">
            <td class="request-table-bcell">
              {{ r.id }}
            </td>
            <td class="request-table-bcell">
              {{ r.subject }}
            </td>
            <td class="request-table-bcell">
              {{ r.text }}
            </td>
            <td class="request-table-bcell">
              <a href="" data-ng-click="showProject(r.project)">
                {{ r.project }}
              </a>
            </td>
            <td class="request-table-bcell">
              {{ r.urgency }}
            </td>
            <td class="request-table-bcell">
              {{ r.date | date: "d.MM.yy - H:mm" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
