<section class="tarif-sec">
  <div class="container">
    <div class="hi-row">
      <article class="tarif">
        <header>
          <h3>Plan 1</h3>
          <div class="price">
            <p>
              <span>$10/
              </span>month
            </p>
          </div>
        </header>
        <section>
          <div class="row">
            <p>
              <span>2x</span>
              option 1
            </p>
          </div>
          <div class="row">
            <p>
              <span>Free</span>
              option 2
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 3
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 4
            </p>
          </div>
          <div class="row">
            <p>
              <span>1x</span>
              option 5
            </p>
          </div>
        </section>
        <footer>
          <button type="submit">
            Purchase
          </button>
        </footer>
      </article>

      <article class="tarif">
        <header>
          <h3>Plan 2</h3>
          <div class="price">
            <p>
              <span>$20/
              </span>month
            </p>
          </div>
        </header>
        <section>
          <div class="row">
            <p>
              <span>2x</span>
              option 1
            </p>
          </div>
          <div class="row">
            <p>
              <span>Free</span>
              option 2
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 3
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 4
            </p>
          </div>
          <div class="row">
            <p>
              <span>1x</span>
              option 5
            </p>
          </div>
        </section>
        <footer>
          <button type="submit">
            Purchase
          </button>
        </footer>
      </article>

      <article class="tarif">
        <header>
          <h3>Plan 3</h3>
          <div class="price">
            <p>
              <span>$30/
              </span>month
            </p>
          </div>
        </header>
        <section>
          <div class="row">
            <p>
              <span>2x</span>
              option 1
            </p>
          </div>
          <div class="row">
            <p>
              <span>Free</span>
              option 2
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 3
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 4
            </p>
          </div>
          <div class="row">
            <p>
              <span>1x</span>
              option 5
            </p>
          </div>
        </section>
        <footer>
          <button type="submit">
            Purchase
          </button>
        </footer>
      </article>

      <article class="tarif">
        <header>
          <h3>Plan 4</h3>
          <div class="price">
            <p>
              <span>$40/
              </span>month
            </p>
          </div>
        </header>
        <section>
          <div class="row">
            <p>
              <span>2x</span>
              option 1
            </p>
          </div>
          <div class="row">
            <p>
              <span>Free</span>
              option 2
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 3
            </p>
          </div>
          <div class="row">
            <p>
              <span>Unlimited</span>
              option 4
            </p>
          </div>
          <div class="row">
            <p>
              <span>1x</span>
              option 5
            </p>
          </div>
        </section>
        <footer>
          <button type="submit">
            Purchase
          </button>
        </footer>
      </article>
    </div>
  </div>
</section>
