$small-width: 480px;
$large-width: 1025px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small-width) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small-width + 1) and (max-width: $large-width - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large-width) { @content; }
  }
}

// @include respond-to(handhelds) {  ;}
// @include respond-to(medium-screens) {  ;}
// @include respond-to(wide-screens) {  ;}
