html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
  background: $gray;
}
.container {
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
  @include clearfix;
}
.navbar {
  overflow: hidden;
  margin-bottom: 3em;
  background: $white;
  color: $main-color;
  border-bottom: 1px solid $main-color;
  box-shadow: $simple-shadow;
  ul {
    margin: 0;
  }
  li {
    float: left;
    list-style: none;
    a {
      display: block;
      padding: 1.1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-stretch: expanded;
      &:visited {
        color: inherit;
      }
      &:hover {
        background: $main-color;
        color: $white;
        font-weight: 400;
      }
    }
  }
}
