.request-form {
  width: 75%;
  margin: 10% auto;
  background: $white;
  color: $main-color;
  border: 1px solid $main-color;
  border-radius: $outer-radius;
  box-shadow: $simple-shadow;
  text-align: center;
  h2 {
    margin: $indent*2 auto;
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
  }
  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, $white, $main-color, $white);
  }
  .request-form-group {
    margin: $indent*2;
    padding: 0 $indent*2;
    @include clearfix;
    input[type="text"],
    textarea {
      float: left;
      width: 70%;
      padding: $indent;
      border: 1px solid $main-color;
      border-radius: $inner-radius;
      &:focus {
        outline: none;
        box-shadow: $hightlight-shadow;
      }
    }
    select {
      float: left;
      width: 70%;
      height: 1.5rem;
      border: 1px solid $main-color;
      color: $main-color;
      font-weight: 600;
      letter-spacing: .1rem;
      &:focus {
        outline: none;
        box-shadow: $hightlight-shadow;
      }
    }
    .ng-dirty.ng-invalid{
      border: 1px solid $red;
      &:focus {
        outline: none;
        box-shadow: $invalid-shadow;
      }
    }
  }
  .help-block {
    clear: both;
    display: block;
    padding-top: $indent;
    color: $red;
  }
  .request-form-label {
    width: 20%;
    float: left;
    margin-right: $indent*3;
    font-size: 1.1rem;
    text-align: right;
    letter-spacing: .2rem;
  }
  .radio-label {
    float: left;
    margin-right: $indent*3;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }
  button {
    width: 40%;
    background: inherit;
    color: inherit;
    margin: $indent*2 auto;
    padding: $indent 0;
    border: 2px solid $main-color;
    border-radius: $inner-radius;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.1rem;
    letter-spacing: .2rem;
    &:not([disabled]):hover {
      background: $hightlight-color;
      color: $white;
      border-color: $hightlight-color;
    }
    &:disabled {
      color: $lightgray;
      border-color: $lightgray;
    }
  }
}
.request-output {
  padding-bottom: $indent*2;
  background: $white;
  color: $main-color;
  border-top: 1px solid $main-color;
  box-shadow: $simple-shadow-inverse;
}
.debug-info {
  width: 20%;
  margin: $indent*2 auto;
  padding: $indent $indent*3;
  background: $hightlight-color;
  border-radius: $outer-radius;
  color: $white;
  span {
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
}
.request-search input {
  display: block;
  width: 50%;
  margin: 0 auto $indent*2;
  padding: $indent;
  border: 2px solid $lightgray;
  border-radius: $outer-radius;
  font-size: 1.1em;
  &:focus {
    outline: none;
    box-shadow: $hightlight-shadow;
  }
}
.request-table {
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: $simple-shadow;
  th, td {
    border-right: 1px solid lighten($main-color, 35%);
    &:not(:first-child):not(:last-child) {
      min-width: 8em;
    }
    &:first-child {
      min-width: 5em;
      text-align: center;
    }
    &:last-child {
      min-width: 10em;
      border-right: 0;
    }
  }
  tr:nth-child(odd) {
    background: lighten($main-color, 70%);
  }
  .request-table-bcell {
    padding: 1rem;
    vertical-align: top;
  }
  .request-table-hcell {
    @extend .request-table-bcell;
    background: lighten($main-color, 40%);
    border-bottom-width: 3px;
    vertical-align: middle;
    &:hover {
      background: $main-color;
    }
    a {
      color: $white;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.1rem;
    }
  }
}
