.tarif-sec {
  padding: $indent*2;
  @include respond-to('small') {
      margin: 0 auto;
  }
  @include respond-to('large') {
      margin: 0 auto;
  }
}
.hi-row {
  width: 100%;
  @include respond-to(medium-screens) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  @include respond-to(handhelds) {
    width: 14em;
    margin-left: auto;
    margin-right: auto;
  }
  @include clearfix;
}
.tarif {
  width: 23%;
  min-width: 12em;
  float: left;
  background: $white;
  border-radius: $outer-radius;
  margin: $indent;
  text-align: center;
  color: $main-color;
  @include respond-to(handhelds) {
    width: 80%;
    float: none;
    margin: 1rem auto;
  }
  @include respond-to(medium-screens) {
    width: 40%;
  }
  header {
    border-radius: $outer-radius;
    padding-top: $indent*8;
    h3 {
      font-weight: lighter;
      font-size: 2.2rem;
      margin: 0;
    }
    .price {
      width: 100%;
      background: $main-color;
      margin: $indent*8 0;
      padding: 1px 0;
      color: $lightblue;
      line-height: .75rem;
      font-size: 1.1rem;
      font-weight: bolder;
      span {
        color: $white;
      }
    }
  }
  .row {
    color: $gray;
    line-height: 1.5rem;
    span {
      font-weight: bolder;
      color: $main-color;
    }
  }
  button {
    width: 85%;
    background: inherit;
    color: inherit;
    margin: 0 0 $indent*7;
    padding: $indent*3 0;
    border: 2px solid $main-color;
    border-radius: $inner-radius;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.1rem;
    letter-spacing: .2rem;
  }
  &:hover {
    transition: all .2s ease-out;
    transform: scale(1.02);
    header {
      background: $main-color;
      color: $white;
      .price {
        background: $hightlight-color;
        color: $white;
      }
    }
    button {
      cursor: pointer;
      background: $hightlight-color;
      color: $white;
      border-color: $hightlight-color;
    }
  }
}
