@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,500italic);

// Colors
$main-color: #2E3E57;
$hightlight-color: #F98248;
$white: #fff;
$lightgray: #ddd;
$gray: #989898;
$lightblue: #8B9AB6;
$red: #FD0000;

// Dimensions
$max-width: 1280px;
$min-width: 320px;
$indent: 1%;
$outer-radius: 5px;
$inner-radius: 3px;
$simple-shadow: 0px 5px 15px -5px rgba(0,0,0,0.75);
$simple-shadow-inverse: 0px -3px 10px -5px rgba(0,0,0,0.75);
$hightlight-shadow: 0 0 10px lighten($main-color, 40%);
$invalid-shadow: 0 0 10px lighten($red, 30%);
